* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('../src/assets/fonts/Roboto-Regular.ttf');
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6a5be2;
    height: 100vh;
}

/* App */

.quizWrapper {
    width: 700px;
    border-radius: 30px;
    padding: 40px;
    background-color: #fff;
    position: relative;
    font-family: 'Roboto';
}

.quizWrapper::before,
.quizWrapper::after {
    content: '';
    display: block;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.quizWrapper::before {
    width: 95%;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 0;
}

.quizWrapper::after {
    width: 90%;
    bottom: -20px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}

/* Game */

.gameProgress {
    height: 20px;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
    margin-bottom: 25px;
}

.gameProgressInner {
    height: 100%;
    border-radius: 30px;
    width: 80%;
    background: rgb(18, 231, 48);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(
        90deg,
        rgba(18, 231, 48, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
}

.gameQuestion {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 25px;
}

.gameListAnswers {
    list-style: none;
    padding: 0;
}

.gameAnswerOptions {
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 22px;
}

.gameAnswerOptions:hover {
    border: 2px solid rgba(0, 0, 0, 0.3);
}

/* Result */

.resultWrapper {
    text-align: center;
}

.resultTitle {
    font-size: 25px;
    font-weight: bold;
}

.resultButton {
    border-radius: 30px;
    border: 0;
    padding: 15px 30px;
    font-size: 20px;
    background-color: #ff006e;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

.resultButton:hover {
    background-color: #fd4e9a;
}

.resultImg {
    width: 200px;
    margin-bottom: 20px;
}
